InsertBraces: true
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
FixNamespaceComments: false
NamespaceIndentation: All
ConstructorInitializerAllOnOneLineOrOnePerLine: true